<!-- Navigation bar-->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Stock Market App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink='/register-company'>Register company</a></li>
      <li><a routerLink='/list-all-companies'>List all Companies</a></li>
      <li><a routerLink='/company-info'>Company Info</a></li>
      <li><a routerLink='/add-stock'>Add Stock</a></li>
      <li><a routerLink='/view-company-stock-details'>View Company Stock Details</a></li>
      <li><a routerLink='/delete-company'>Delete company</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a *ngIf="!_authService.loggedIn()" routerLink='/login'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a *ngIf="_authService.loggedIn()" style="cursor:pointer" (click)="_authService.logoutUser()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
